[config]
timezone = UTC
## All possible time zones: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
## Set to local if you want to use your configured time zone in Windows

currency = BTC,ETH,XRP
## All available currencies: https://www.coingecko.com/en/coins/all
## You can set multiple currencies just seperate them by using a comma